In [1]:
d= {}

In [2]:
type(d)

dict

In [3]:
d ={1,2,3,4}

In [4]:
type(d)

set

In [5]:
d1 = {'key':'value'} #key should always unique

In [6]:
d1

{'key': 'value'}

In [7]:
d2 = {'name':'Rohit', 'email':'rohit@gmail.com','mobile': 9319811424}

In [8]:
d2

{'name': 'Rohit', 'email': 'rohit@gmail.com', 'mobile': 9319811424}

In [11]:
d3 = {234 : 'rohit', True : 1234, '_wer':'kumar'}

In [12]:
d3

{234: 'rohit', True: 1234, '_wer': 'kumar'}

In [ ]:
#by using key we fetch value in dict not index.

In [13]:
d3[234]

'rohit'

In [15]:
d3['_wer']

'kumar'

In [16]:
d3[1]

1234

In [17]:
d4 = {'name':'Roh', 'mail':'rr@gmail.com', "name": "Rohit"}

In [18]:
d4

{'name': 'Rohit', 'mail': 'rr@gmail.com'}

In [19]:
d4['name'] # here name is override

'Rohit'

In [20]:
d5 = {"company":"pwskills", "course":["web dev", "data science", "java with dsa"]}

In [21]:
d5

{'company': 'pwskills', 'course': ['web dev', 'data science', 'java with dsa']}

In [22]:
d5['course']

['web dev', 'data science', 'java with dsa']

In [23]:
d5['course'][2]

'java with dsa'

In [26]:
d6 = {'number':[2,43,23,34,34], "assignment":(1,2,3,4,5,6), "launch_date": {28,12,14}, "class_time" : {'web_dev':8, 'Data':10, 'Java':12}}

In [27]:
d6

{'number': [2, 43, 23, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data': 10, 'Java': 12}}

In [28]:
#as a value we can take tuple, list in dict

In [29]:
d6['class_time']

{'web_dev': 8, 'Data': 10, 'Java': 12}

In [31]:
d6['class_time']['Java']

12

In [32]:
d6['mentor']=['sudhanshu', 'krish', 'anurag', 'hayder']

In [33]:
d6

{'number': [2, 43, 23, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data': 10, 'Java': 12},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [34]:
del d6['number']  # for deleting the value pair from the dict

In [35]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data': 10, 'Java': 12},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [36]:
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [37]:
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 5, 6)), ('launch_date', {28, 12, 14}), ('class_time', {'web_dev': 8, 'Data': 10, 'Java': 12}), ('mentor', ['sudhanshu', 'krish', 'anurag', 'hayder'])])

In [38]:
list(d6.keys())  #list of the dict

['assignment', 'launch_date', 'class_time', 'mentor']

In [39]:
set(d6.keys())  #set of the dict

{'assignment', 'class_time', 'launch_date', 'mentor'}

In [41]:
d6.get('class_time')

{'web_dev': 8, 'Data': 10, 'Java': 12}

In [ ]:
#conditional  Statement

In [44]:
marks = int(input("Enter the marks of student: "))
if marks >= 80:
    print("You will be the part of A0 batch")
elif marks >= 60 and marks <80:
    print("you will be the part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be the part of A2 batch")
else:
    print("you will be the part of A3 batch")

Enter the marks of student: 65
you will be the part of A1 batch

In [1]:
price = int(input("Enter the price of the item: "))
if price > 1000:
    print("I will not purchase")
else: 
    print("I will purchase")

Enter the price of the item: 7000
I will not purchase

In [2]:
l = [1,2,3,3,4,5,6,7,8]

In [6]:
l1=[]
l1.append(l[0]+1)

In [7]:
l1

[2]

In [8]:
l

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [9]:
# for loop

for i in l:
    print(i)

1
2
3
3
4
5
6
7
8

In [10]:
for i in l:
    print(i+1)

2
3
4
4
5
6
7
8
9

In [11]:
for i in l:
    print(l)

[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [12]:
lis = ["Rohit","kumar", "pwskills", "course"]

In [16]:
lis1 = []
for i in lis:
    print(i)
    lis1.append(i.upper()) # to convert in upper case

Rohit
kumar
pwskills
course

In [17]:
lis1

['ROHIT', 'KUMAR', 'PWSKILLS', 'COURSE']

In [2]:
l = [1,2,3,4,5,6,7,"sudh","kumar", 345.67]

In [4]:
l1 = []
l2 = []
for i in l:
    if(type(i)== int or type(i)==float):
        l1.append(i)
        #print(l1)
    else:
        l2.append(i)
        #print(l2)

In [5]:
l1

[1, 2, 3, 4, 5, 6, 7, 345.67]

In [6]:
l2

['sudh', 'kumar']

In [7]:
l = [1,2,3,4,5]

In [9]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [2]:
l1 = ["sudh","kumar","krish","nair"]

In [11]:
for i in l1:
    print(i)

sudh
kumar
krish
nair

In [12]:
l1

['sudh', 'kumar', 'krish', 'nair']

In [13]:
for i in l1:# for-else , else only execute when  for loop complete itself then else will execute 
    print(i)
else:
    print("do something")

sudh
kumar
krish
nair
do something

In [14]:
l1

['sudh', 'kumar', 'krish', 'nair']

In [19]:
for i in l1:
    if i=='kumar':
        break   #break will stop the execution
    print(i)
else:
    print("execute this if for loop is able to execute")

sudh

In [20]:
l1

['sudh', 'kumar', 'krish', 'nair']

In [22]:
for i in l1:
    if i=='kumar':
        continue
    print(i)
else:
    print("execute only if the for loop execute successfully")

sudh
krish
nair
execute only if the for loop execute successfully

In [25]:
range(5)

range(0, 5)

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [28]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [29]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [30]:
l1

['sudh', 'kumar', 'krish', 'nair']

In [5]:
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
nair

In [10]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

nair
krish
kumar
sudh

In [11]:
l2 = [23,5,3,45,56,6,6,76,78,87,677,9,9,40]

In [13]:
list(range(0, len(l2), 2))

[0, 2, 4, 6, 8, 10, 12]

In [14]:
sum(l2)

1120

In [15]:
result = 0
for i in l2:
    result = result + i
result

1120

In [16]:
t = (1,2,3,4,5,6)

In [17]:
for i in t:
    print(i)

1
2
3
4
5
6

In [18]:
result = 0
for i in t:
    result = result + i
result

21

In [19]:
s = {1,2,3,4,"sudh","pwskills"}
for i in s:
    print(i)

1
2
3
4
pwskills
sudh

In [20]:
s1 = "pwskills"
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [21]:
d= {"name":"Rohit", "class":"Data_science_Master", "topic":["python", "stats", "ml","Deep learning", "Nlp","Resume"]}

In [22]:
d

{'name': 'Rohit',
 'class': 'Data_science_Master',
 'topic': ['python', 'stats', 'ml', 'Deep learning', 'Nlp', 'Resume']}

In [23]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [24]:
for i in d.keys():
    print(d[i])

Rohit
Data_science_Master
['python', 'stats', 'ml', 'Deep learning', 'Nlp', 'Resume']

In [25]:
d.values()

dict_values(['Rohit', 'Data_science_Master', ['python', 'stats', 'ml', 'Deep learning', 'Nlp', 'Resume']])

In [26]:
for i in d.values():
    print(i)

Rohit
Data_science_Master
['python', 'stats', 'ml', 'Deep learning', 'Nlp', 'Resume']

In [27]:
d.items()

dict_items([('name', 'Rohit'), ('class', 'Data_science_Master'), ('topic', ['python', 'stats', 'ml', 'Deep learning', 'Nlp', 'Resume'])])

In [28]:
for i in d.items():
    print(i)

('name', 'Rohit')
('class', 'Data_science_Master')
('topic', ['python', 'stats', 'ml', 'Deep learning', 'Nlp', 'Resume'])