In [1]:
import mysql.connector  #import the conncector

In [3]:
mydb = mysql.connector.connect(  #provide the credential of database
   host='localhost',
   user ='root',
   password = 'Rohit@2002'
)

In [4]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002AC0185B1C0>

In [11]:
mycursor = mydb.cursor()  # create cursor for reading database one by one

OperationalError: MySQL Connection not available.

In [15]:
mycursor.execute("SHOW DATABASES")

In [16]:
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

In [23]:
#create a database in python

import mysql.connector

mydb = mysql.connector.connect(
  host = 'localhost',
  user = 'root',
  password = 'Rohit@2002'
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")

In [24]:
mycursor.execute("CREATE TABLE if not exists test.test_table(c1 INT, c2 VARCHAR(20),c3 FLOAT, c4 INT)")

In [26]:
mydb.commit()

In [31]:
mycursor.execute("insert into test.test_table values(101, 'Rohit',7.69, 12006664)")
mycursor.execute("insert into test.test_table values(102, 'Rohit',7.69, 12006664)")
mycursor.execute("insert into test.test_table values(103, 'Rohit',7.69, 12006664)")
mycursor.execute("insert into test.test_table values(104, 'Rohit',7.69, 12006664)")
mycursor.execute("insert into test.test_table values(105, 'Rohit',7.69, 12006664)")
mycursor.execute("insert into test.test_table values(106, 'Rohit',7.69, 12006664)")

In [32]:
mycursor.execute('select * from test.test_table') # for choosing the table in database

In [35]:
for i in mycursor.fetchall():  # for fetching all value in database
    print(i)

(101, 12006664)
(101, 12006664)
(101, 12006664)
(102, 12006664)
(103, 12006664)
(104, 12006664)
(105, 12006664)
(106, 12006664)

In [ ]:
mydb.close()  #for closing the database

In [34]:
mycursor.execute('select c1, c4 from test.test_table')